
a{
        color: black;
}

h2{
    font-family:  quicksand ;
    font-size: 25px;
    color: rgb(7, 6, 12) ;  
    font-weight: bold;
    text-shadow: 5px 5px 2px black;
}

.link {
	margin: auto;
}

li a:hover { 
    background-color: blue;
}

header   {
    border: 5px solid rgb(0, 195, 255);
    background: rgb(0, 225, 255);
    border-radius: 10px; 
    margin-bottom: 100px;
    padding-right: 35px;
   }

.menu {
    text-align: center;
    font-family:  quicksand ;
    font-size: 40px;
    color: rgb(7, 6, 12) ;
       }

.image{
    margin: auto;
    padding: auto;
    display: block;
    width: 300px;
    height: 150px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
	text-decoration: none;
	font-size: 12px;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #CFFFFF;
	color: black;
}

ul {
       list-style-type: none;*
       margin: 0;
       padding: 0;
       overflow: hidden;
       background-color: #333;
}

img {
	width: 10%;
	-webkit-transition: -webkit-transform .8s ease-in-out;
	transition:         transform .8s ease-in-out;
  }
img:hover {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

.definition {
    border: 5px solid rgb(0, 195, 255); 
    background: rgb(0, 225, 255);
    border-radius: 10px; 
    font-family:  quicksand ;
    font: size 24px;
    width: 48%;
    min-height: 600px;
    float:left;
    
}

.exemple {
    border: 5px solid rgb(0, 195, 255);
    background: rgb(0, 225, 255);
    border-radius: 10px; 
    font-family:  quicksand ;
    font: size 24px;
    width: 48%;
    min-height: 600px;
    float: right;
   }

   footer{
        border: 5px solid rgb(0, 195, 255);
        border-radius: 10px;
        background: rgb(0, 225, 255);
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
   }